body{
            font-family: Arial, sans-serif;
            background:#f4f4f4;
            margin:20px;
        }
h1{
    text-align: center;
    color: #0f085d;
}

.products{
            display:flex;
            flex-wrap:wrap;   /* Allows cards to move to next line */
            gap:20px;         /* Space between cards */
            justify-content:center;
        }

.card{
            width:220px;
            background:white;
            border-radius:10px;
            padding:15px;
            text-align:center;
            box-shadow:0 2px 8px rgba(0,0,0,0.2);
        }

.card img{
            width:100%;
            height:180px;
            object-fit:cover;
            border-radius:8px;
        }

.card h3{
            margin:10px 0;
        }

.price{
            color:green;
            font-size:20px;
            font-weight:bold;
        }

button{
            background:#007bff;
            color:white;
            border:none;
            padding:10px 15px;
            border-radius:5px;
            cursor:pointer;
            margin-top:10px;
        }

button:hover{
            background:#0056b3;
        }