body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(249, 246, 243);
}

h1{
    color: darkgreen;
    font-size: 40px;
}

table{
    border: 2px solid;
    border-collapse: collapse;
}

thead{
    background-color: black;
    color: rgb(248, 246, 246);
    border:2px solid;
}

.student-table th,
.student-table td{
    border: 2px solid;
    text-align: left;
    padding: 10px;
}

.student-table tbody tr:nth-child(even){
    background-color: aquamarine;
}
.student-table tbody tr:nth-child(odd){
    background-color: bisque;
}
.student-table tbody tr:hover{
    background-color: rgb(227, 147, 147);
}
